<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="./static/verification.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
  </head>
  <body>
    <nav>
      <div class="wrapper"></div>
    </nav>
    <section>
      <div class="img_box">

        <img src="./static/Texting-bro.png" alt="" />
      </div>
      <div class="content_box">
        <div class="form_box">
          <h1>Chatter Box</h1>
          <form action="#">

            <div class="input_box">
              <span>Enter Otp</span>
              <div class="select-box">
                <input type="otp" placeholder="______" name="otp" />

              </div>
            </div>

            <div class="input_box">
              <input type="submit" value="Next"/>
            </div>
          </form>
        </div>
      </div>
    </section>

  </body>
</html>
